MONGO_URI=mongodb://localhost:27017/semasms_db

ZEAWORLD_USERNAME=
ZEAWORLD_PASSWORD=
ZEAWORLD_SENDER_ID=IMPALA LTD
ZEAWORLD_API_URL=https://smsapi.zeaworldke.com

SMS_DEFAULT_PROVIDER=zeaworld

SEMASMS_USERNAME=
SEMASMS_PASSWORD=
SEMASMS_SENDER_ID=
SEMASMS_API_URL=https://portal-api.semasms.co.ke/send

PORT=3002
BET_DASH_JWT_SECRET=
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
