MONGO_URI=mongodb://localhost:27017/semasms_db

SEMASMS_USERNAME=
SEMASMS_PASSWORD=
SEMASMS_SENDER_ID=

PORT=3002
BET_DASH_JWT_SECRET=
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174
